*{
    box-sizing: border-box;
}


.row {
    height: 100%;
    /* display: flex;   */
    border-width: 5px;
    border-style: solid;
    border-color: red;
    border-image: initial;
    margin: 0 -5px;
    


}

.columnA{
  color: blue;
  display: flex;
  justify-content: space-around;
  
  
    }

    .flexitem1{
      color: #000000;
      
      
    }






 .row:after {
    content: "";
    display: table;
    clear: both;
} 

.card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /*this adds the "card" effect  */
    padding: 20px;
    background-color: #f1f1f1;
    height: 200px;
    width: 500px;
  }

  /* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
       display: block; 
      margin-bottom: 20px;
    }
  }  */
  


 